<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tp_baseline.nkf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_new"
        android:label="NKTF"
        android:roundIcon="@drawable/logo_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".LivestreamFragment" />
        <activity android:name=".LessonsQuizFragment" />
        <activity android:name=".AboutUsFragment" />
        <activity android:name=".HomeFragment" />
        <activity android:name=".LessonFragment" />
        <activity android:name=".QuizFragment" />
        <activity android:name=".SingleQuizFragment" />
        <activity android:name=".LessonFragment2" />
        <activity android:name=".LessonQuizFooter" />
        <activity android:name=".LessonQuizHeader" />
        <activity android:name=".SingleLiveVideo" />
        <activity android:name=".QuizFragment3"></activity>
    </application>

</manifest>